body{
    background-color: beige;
    
}
h1{
    text-align: center;
    font-size: 48px;
    color: rgb(171, 73, 73);
}
.banner{
    width: 100%;
    height: 500px;
    text-align: center;
}
.perros{
    margin-top: 100px;
    width: 24%;
    height: 300px;
    margin: 5px

    
}
.fotos{
    margin-top: 60px;

}
.form{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: rgb(11, 8, 8);
    background-color: rgb(187, 241, 203);
    margin-top: 100px;
    width: 500px
    
}